.App__nav {
    background-color: grey;
    color: #fff;
    grid-area: sidebar;
    height: 100%;
    overflow: auto;
}

.FolderListNav__list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
    text-decoration: none;
}

.FolderListNav__list.active {
    background-color: green;
}

.FolderListNav__item:hover {
    cursor: pointer;
    color: royalblue;
}

.FolderListNav__item, .FolderListNav__button-wrapper {
    padding: 8px 16px;
    margin: 0 0 8px auto;
    border: 1px solid black;
    display: block;
    max-width: 200px;
    text-decoration: none;
}